const ANDROID_CLIENT_ID =
  '00000000000000000000.apps.googleusercontent.com';
const ANDROID_EXPO_CLIENT_ID =
  '00000000000000000000.apps.googleusercontent.com';

const IOS_CLIENT_ID =
  '00000000000000000000.apps.googleusercontent.com';
const IOS_EXPO_CLIENT_ID =
  '00000000000000000000.apps.googleusercontent.com';

export {
  ANDROID_CLIENT_ID,
  ANDROID_EXPO_CLIENT_ID,
  IOS_CLIENT_ID,
  IOS_EXPO_CLIENT_ID,
};
